<div class="text-center">


    <div>
        
        <h2>
            Welcome to your amazing Travel App!!!
        </h2>
    </div>
    <div>
        <a class="btn btn-primary"href="~/TravelAppDemo/Completed">
                    Completed
        </a>
    </div>
    <div>
         <a class="btn btn-primary"href="~/TravelAppDemo/UnCompleted">
                   UNCompleted
         </a>
    </div>
     <div>
        <a class="btn btn-primary" href="~/TravelAppDemo/Update/0">
                   Add New Event
         </a>
    </div>
  
</div>