<div class="text-center">


    <div>
        
        <h2>
            Welcome to your amazing Travel App!!!
        </h2>
    </div>
    <div>
        <a class="btn btn-primary"href="~/TravelAppDemo/Completed">
            Past Event
        </a>
    </div>
    <div>
         <a class="btn btn-primary"href="~/TravelAppDemo/UnCompleted">
                    Future Event
         </a>
       
    </div>
</div>